<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Registration{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <div class="container-fluid d-flex flex-column justify-content-center">
        {% block body %}{% endblock %}
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!-- Additional JavaScript -->
    {% block javascripts %}{% endblock %}
  </body>
</html>
